WITH date_series AS (
    SELECT generate_series(
        date '2020-03-16', -- start with a Monday
        current_date,
        interval '1 week'
    )::date AS date
),

l2beat_origin_key as (
	select l2.date_100k, l2.name, mc.origin_key
	from sys_l2beat l2
	left join sys_main_conf mc on l2.index = mc.aliases_l2beat 
)

SELECT
    ds.date,
    COUNT(distinct s.index) AS value,
    jsonb_agg(distinct jsonb_build_object(
	    'l2beat_name', s2.name,
	    'origin_key', s2.origin_key
	  )) FILTER (WHERE s2.name IS NOT NULL) AS l2s_launched
from date_series ds
LEFT JOIN sys_l2beat s ON s.date_100k <= ds.date + interval '6 days'
LEFT JOIN l2beat_origin_key s2 ON date_trunc('week', s2.date_100k) = ds.date
GROUP by 1
ORDER by 1 asc