{#
    A query to get count active apps on a chain

    Parameters:
    - days: default = 30; The time interval (in days) to consider for data extraction.
    - origin_key: The origin_key to filter the data.
#}

{% set days = days | default(30) %}


SELECT count(distinct owner_project) as active_apps
FROM public.vw_apps_contract_level_materialized
where origin_key = '{{origin_key}}'
    and date > current_date - interval '{{days}} days'