SELECT
    "date",
    owner_project,
    token_id,
    SUM(value)     AS value,
    SUM(value_usd) AS value_usd
FROM public.vw_fact_stables_mcap_v2
GROUP BY
    "date",
    owner_project,
    token_id
ORDER BY 1 DESC, 2
