{#
    A query to get top 4 stablecoins per chain timeseries plus a longtail 'other' category

    Parameters:
    - origin_key: The origin_key to filter the data.
#}

WITH aggregated_tokens AS (
    -- Step 1: Group/sum by (token_key, fiat)
    SELECT 
        "date",
        token_key,
        fiat,
        SUM(value) as value,
        SUM(value_usd) as value_usd
    FROM public.vw_fact_stables_usd
    WHERE origin_key = '{{origin_key}}'
    GROUP BY "date", token_key, fiat
),
ranked_tokens AS (
    -- Step 2: Rank the aggregated groups
    SELECT 
        "date",
        token_key,
        fiat,
        value,
        value_usd,
        ROW_NUMBER() OVER (PARTITION BY "date" ORDER BY value_usd DESC) as rn
    FROM aggregated_tokens
),
top_4 AS (
    -- Step 3: Take top 4 groups
    SELECT 
        "date",
        token_key,
        fiat,
        value,
        value_usd
    FROM ranked_tokens
    WHERE rn <= 4
),
longtail AS (
    -- Step 4: 
    SELECT 
        "date",
        'other' as token_key,
        NULL as fiat,
        SUM(value) as value,
        SUM(value_usd) as value_usd
    FROM ranked_tokens
    WHERE rn > 4
    GROUP BY "date"
),
combined AS (
    SELECT * FROM top_4
    UNION ALL
    SELECT * FROM longtail
)
SELECT 
    c."date",
    --c.token_key,
    --c.fiat,
    --c.value,
    c.value_usd,
    --COALESCE(sm."name", 'other') as "name",
    COALESCE(sm.symbol, 'other') as symbol
FROM combined c
LEFT JOIN public.stables_metadata sm ON c.token_key = sm.token_key
WHERE c."date" != CURRENT_DATE
ORDER BY c."date" DESC, c.value_usd DESC;