{# 
    A query to calculate total stablecoin supply in USD, adjusted for bridged L2 supplies.

    Parameters:
    - origin_keys: The key of the chain to filter the data by.
    - days: default = 7
#}

SELECT 
    'stables_mcap' AS metric_key,
    origin_key,
    "date",
    SUM(value_usd) AS value
FROM public.vw_fact_stables_mcap_v2
WHERE
    "date" < current_date
    AND "date" >= current_date - interval '{{ days }} days'
    AND origin_key IN ('{{ origin_keys | join("', '") }}')
GROUP BY 1, 2, 3
ORDER BY 3, 2;