{# 
    A query to aggregate the fees for each hour in the last 3 hours (default)
    This number is used to compare our db values against the other block explorers.
    
    metric_key = 'fees_paid_eth'

    Parameters:
    - origin_key: The name of the chain to identify the table.
    - hours: default = 3; The time interval (in hours) to consider for the data extraction.
#}

{% set hours = hours | default(3) %}

WITH token_price AS (
    SELECT "date", value AS price_usd 
    FROM fact_kpis
    WHERE origin_key = '{{ origin_key }}'
        AND metric_key = 'price_usd' 
        AND "date" >= current_date - interval '{{ hours }} hours' 
        AND "date" < current_date
),
eth_price AS (
    SELECT "date", value AS price_usd 
    FROM fact_kpis
    WHERE origin_key = 'ethereum'
        AND metric_key = 'price_usd' 
        AND "date" >= current_date - interval '{{ hours }} hours' 
        AND "date" < current_date
),
tx_filtered AS (
    SELECT 
    date_trunc('hour', block_timestamp) AS "timestamp",
    SUM(tx_fee) AS total_tx_fee
FROM {{ origin_key }}_tx
WHERE block_timestamp >= date_trunc('hour', now() - interval '{{ hours }} hours')
    AND block_timestamp < date_trunc('hour', now())
GROUP BY 1
)

SELECT
    tx."timestamp",
    tx.total_tx_fee * e.price_usd / eth.price_usd AS value
FROM tx_filtered tx
LEFT JOIN token_price e ON date_trunc('day', tx."timestamp") = e."date"
LEFT JOIN eth_price eth ON date_trunc('day', tx."timestamp") = eth."date";