SELECT
    '0x' || encode(uid, 'hex') as id,
    '0x' || encode(attester, 'hex') as attester,
    recipient,
    is_offchain,
    revoked,
    ipfs_hash,
    CASE 
        WHEN tx_hash IS NULL OR tx_hash = '\x'::bytea OR length(tx_hash) = 0 
        THEN NULL 
        ELSE '0x' || encode(tx_hash, 'hex') 
    END as tx_id,
    chain_id,
    tags_json,
    "time" AS time_created
FROM public.attestations
WHERE attester = decode('{{ attester }}', 'hex')
ORDER BY time_created DESC
LIMIT {{ take }};