SELECT 
    '0x' || encode(id, 'hex') as id,
    '0x' || encode(attester, 'hex') as attester,
    '0x' || encode(recipient, 'hex') as recipient,
    is_offchain,
    revoked,
    ipfs_hash,
    '0x' || encode(tx_id, 'hex') as tx_id,
    decoded_data_json,
    "time",
    time_created,
    revocation_time
FROM public.oli_label_pool_bronze
WHERE attester = decode('{{ attester }}', 'hex')
ORDER BY time_created DESC
LIMIT {{ take }};