SELECT 
    (SELECT COUNT(*) FROM public.labels) AS count_tags,
    (SELECT COUNT(*) FROM public.attestations) AS count_attestations,
    (SELECT COUNT(*) FROM public.attestations WHERE revoked = true) AS revoked_count_attestations,
    (SELECT COUNT(*) FROM public.labels WHERE is_offchain = true) AS offchain_count_tags,
    (SELECT COUNT(*) FROM public.attestations WHERE is_offchain = true) AS offchain_count_attestations,
    (SELECT COUNT(*) FROM public.labels WHERE is_offchain = false) AS onchain_count_tags,
    (SELECT COUNT(*) FROM public.attestations WHERE is_offchain = false) AS onchain_count_attestations;