SELECT 
    encode(attester, 'hex') AS attester,
    MAX("time") AS last_time_created,
    MAX(revocation_time) AS last_time_revoked
FROM public.attestations
WHERE 
	revocation_time >= '2000-01-01' or revocation_time is null
GROUP BY attester
ORDER BY last_time_created DESC;